<div class="header-main text-left">
  <div class="header-text">
    <h1>NEO story</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
      nesciunt architecto saepe neque! Modi explicabo hic nostrum blanditiis
      tenetur perferendis eveniet. Assumenda fuga et neque optio consectetur
      ipsa rem earum?Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Eligendi sunt hic nulla dolorem neque. Dolorem amet culpa a consectetur,
      suscipit ea libero eius quam sint rem! Odit aliquam beatae tempore!
    </p>
    <a routerLink="/about-neo" class="store-button">Our Story</a>
  </div>
</div>
