<div class="covid">
  <h1>
    Important information for users on the appearance of the Corona virus
    (COVID-19)
  </h1>
  <div class="covid-text-paragraphs" style="margin-top: 30px;">
    <p>
      As a responsible company, we take all necessary measures to protect the
      health and safety of our employees and their families, as well as our
      customers and business partners.
    </p>
    <p>
      We perform all our business activities in accordance with all preventive
      measures for protection against the spread of viruses and the state of
      emergency introduced by the Government of the Republic of Serbia, and a
      specially formed team of our colleagues constantly monitors the
      development of the situation. We have taken additional preventive measures
      and ensured that throughout the state of emergency and in the event of a
      continuous spread of the virus, all processes in the company, which are
      crucial for users, function smoothly.
    </p>
    <p>
      Guided by this idea, we went a step further and introduced the hashtag
      #StayHomeHouse through which we appealed to all our users to take care of
      themselves and others. You can still do everything online.
    </p>
    <p>
      On this page you can find all the important information and
      recommendations regarding our services, network and measures that we apply
      every day.
    </p>
    <p>We are at your disposal for any help and support.</p>
    <p>
      You can contact us at any time via the Vip customer service at 060/1234,
      as well as via the website and our social networks.
    </p>
  </div>
  <div class="carring-text" style="margin-top: 30px;">
    <h1>
      Caring for employees
    </h1>
    <div style="margin-top: 30px;">
      <p>
        As part of preventive measures, already during the spread of the virus
        in Europe, Vip mobile introduced work from home, reduction of travel
        abroad, as well as disinfectants for workplaces, protection and
        instructions on how to use it all, in order to have safe work. Meetings
        are held via video conferencing, telephone or through any other
        alternative channel.
      </p>
      <p>
        Our crisis team meets daily and assesses the situation on the basis of
        which it takes preventive measures to ensure that, in the event of
        further spread of the virus, employees are adequately protected, and at
        the same time ensure the continuity of our business.
      </p>
    </div>
  </div>
  <div style="margin-bottom: 50px;">
    <h1>
      Customer care
    </h1>
    <div style="margin-top: 30px;">
      <p>
        We know how important it is in this situation to be available and in
        contact with everyone, so we have provided all our users with free use
        of
        <span class="span-socialmedia"
          >Viber, Facebook, Facebook Messenger and WhatsApp</span
        >
        via
        <span class="span-net">Net for Chat tariff add-on.</span>
      </p>
      <p>
        Most activities, such as sending a credit from a postpaid account to a
        prepaid number, replenishing a loan or checking the account balance, you
        can easily do online, without going to the point of sale.
      </p>
      <p>
        All Vip users are provided with free use of the
        <span class="span-covid-19">COVID-19</span>
        website, free calling of the telephone numbers of epidemiological
        services 064/89 45 235 and 011 26 84 566, as well as calling the
        National Contact Center Covid 19 on 19819 and 19920.
      </p>
    </div>
  </div>
</div>
<hr />
