h1 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  color: #444444;
}

p {
  color: #444444;
}

.covid {
  max-width: 900px;
  margin: 50px auto;
  padding: 50px;
}

.span-socialmedia {
  font-weight: bold;
  font-size: 18px;
}

.span-net {
  color: #539cd8;
  font-weight: bold;
  font-size: 18px;
}

.span-covid-19 {
  color: #539cd8;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 25px;
  }
}
